<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Vida Media</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="login-wrap">

    <!-- Logo -->
   <!-- DESPUÉS -->
<div class="brand">
  <img src="assets/icon/vm.png" alt="Vida Media" class="brand-logo">
  <h1>Vida Media</h1>
  <p>Tu escudo financiero</p>
</div>

    <!-- Error de API -->
    <div class="api-error" *ngIf="apiError()">
      <ion-icon name="alert-circle-outline"></ion-icon>
      <span>{{ apiError() }}</span>
      <button (click)="apiError.set(null)">✕</button>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>

      <!-- Email -->
      <div class="vm-field">
        <label class="vm-label" for="email">
          <ion-icon name="mail-outline"></ion-icon>
          Correo electrónico
        </label>
        <div class="vm-iw"
             [class.invalid]="emailError()"
             [class.valid]="c['email'].valid && c['email'].touched">
          <ion-icon name="mail-outline" class="inp-icon"></ion-icon>
          <input id="email" type="email" inputmode="email"
                 placeholder="nombre@correo.cl"
                 formControlName="email"
                 class="vm-inp"
                 autocomplete="email">
        </div>
        <p class="vm-error" *ngIf="emailError()">
          <ion-icon name="alert-circle-outline"></ion-icon>{{ emailError() }}
        </p>
      </div>

      <!-- Contraseña -->
      <div class="vm-field">
        <label class="vm-label" for="password">
          <ion-icon name="lock-closed-outline"></ion-icon>
          Contraseña
        </label>
        <div class="vm-iw"
             [class.invalid]="passError()"
             [class.valid]="c['password'].valid && c['password'].touched">
          <ion-icon name="lock-closed-outline" class="inp-icon"></ion-icon>
          <input id="password"
                 [type]="showPass() ? 'text' : 'password'"
                 placeholder="Tu contraseña"
                 formControlName="password"
                 class="vm-inp"
                 autocomplete="current-password">
          <button type="button" class="eye-btn" (click)="togglePass()">
            <ion-icon [name]="showPass() ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
          </button>
        </div>
        <p class="vm-error" *ngIf="passError()">
          <ion-icon name="alert-circle-outline"></ion-icon>{{ passError() }}
        </p>
      </div>

      <!-- Submit -->
      <button type="submit" class="vm-submit-btn" [disabled]="loading()">
        <ion-spinner name="crescent" *ngIf="loading()"></ion-spinner>
        <span *ngIf="!loading()">Iniciar sesión</span>
      </button>

    </form>

    <div class="register-row">
      <span>¿No tienes cuenta?</span>
      <a routerLink="/registro">Crear cuenta</a>
    </div>

  </div>
</ion-content>
