<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center">Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <div class="login-logo ion-margin-bottom">
    <ion-icon name="person-circle-outline" style="font-size: 96px; color: var(--ion-color-primary);"></ion-icon>
  </div>

  <form>
    <ion-list lines="none">
      
      <ion-item class="ion-margin-bottom custom-input">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-input 
          type="email" 
          placeholder="Correo electrónico" 
          inputmode="email"
          required="true">
        </ion-input>
      </ion-item>

      <ion-item class="ion-margin-bottom custom-input">
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-input 
          type="password" 
          placeholder="Contraseña" 
          required="true">
        </ion-input>
      </ion-item>

    </ion-list>

    <div class="ion-text-end ion-margin-bottom">
      <ion-note href="#" style="cursor: pointer;">¿Olvidaste tu contraseña?</ion-note>
    </div>

    <ion-button expand="block" shape="round" type="submit" class="ion-margin-top">
      Ingresar
    </ion-button>
  </form>

<div class="ion-margin-top">
  <p>
    ¿No tienes una cuenta? 
    <ion-text color="primary" (click)="irARegistro()" style="cursor: pointer; font-weight: bold;">
      Regístrate
    </ion-text>
  </p>
</div>
